{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock %}



<footer class="black-bg">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-4">
                <h3 class="orange-text mb-2 font-weight-bold">
                    QUICK <span class="green-text"> LINKS</span>
                </h3>
                <ul>
                    <li>
                        <a href="#">Registrar Political Parties</a>
                    </li>
                    <li>
                        <a href="#">IEBC</a>
                    </li>
                    <li>
                        <a href="#">Parliament of Kenya</a>
                    </li>
                    <li>
                        <a href="#">Council of Governors</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 d-flex align-items-end">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fab fa-facebook-f green-text"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-twitter green-text"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-instagram green-text"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-youtube green-text"></i>
                        </li>
                    </ul>
            </div>
            <div class="col-md-4 text-white">
                <h3 class="font-weight-bold mb-2">Amani na Ugatuzi</h3>
                <ul>
                    <li><span><i class="fas fa-map-marker-alt green-text mr-2"></i></span> Amani House, Loyargalan Drive, <br> Off Convent Road, Lavington, Nairobi </li>
                    <li><span><i class="fas fa-phone green-text mr-2"></i></span> +254 (020) 203 3479</li>
                    <li><span><i class="fas fa-envelope green-text mr-2"></i></span> sectretariat@anc.or.ke</li>
    
                </ul>
            </div>
        </div>
       
    </div>
</footer>

