// Variables
$white: #fff;
$primary-color-brown: rgb(149 81 33);
$secondary-color-green: rgb(0 128 0 / 75%);
$black: #000;
$primary-font: Arial, Helvetica;
$icon-font: "Garamond";
$secondary-font: "Garamond";
$text-grey-color: rgb(33 37 41 / 82%);
