ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.black-bg {
    background-color: black;
}

.orange-text {
    color:#934e1c;
}

.green-text {
    color: #83ba51;
}