ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.black-bg {
    background-color: black;
}

.orange-text {
    color: #955121;
}

.green-text {
    color:  rgba(0, 128, 0, 0.75);
}